<div *ngIf="geoMap && hotspotFile"  class="implementation content-section" >
  <div class="p-grid">
    <div class="p-col-1">
      <h3>
        <p-button icon="pi pi-step-backward" label="Back" routerLink="/geomapview"></p-button>
      </h3>
    </div>
    <div class="p-col-2">
        <h2 [innerHtml]="mapDetailHeader"></h2>
    </div>
      <div class="p-col-1">
          <h3>
              <p-button #quizButton icon="pi" label="Hidden"  (onClick)="toggleQuiz(geoMapCanvas, quizButton)"></p-button>
          </h3>
      </div>
      <div class="p-col-1">
          <h3>
              <p-button #startQuizButton label="Start" styleClass="ui-button-success" (click)="startQuiz()"></p-button>
          </h3>
      </div>
  </div>
  <div class="p-grid">
      <app-geo-map-canvas #geoMapCanvas [geoMap]="geoMap" [hotspotFile]="hotspotFile" (guess)="onGuess($event)" ></app-geo-map-canvas>
  </div>


</div>
