<p-dataView #dv [value]="geoMaps" [paginator]="true" [rows]="8" paginatorPosition="both" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>

        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                 <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input #search type="search" pInputText placeholder="Search by name" [value]="filter" (input)="onFilter($event)">
                    </div>
                </div>

                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <p-footer> <p-dataViewLayoutOptions></p-dataViewLayoutOptions></p-footer>
    <ng-template let-geoMap pTemplate="listItem">
        <div class="ui-g-12">
            <div class="geomap-details">
                <div>
                    <img src="assets/maps/{{geoMap.dir}}{{geoMap.imgComp}}"  >
                    <div class="ui-g">
                        <p-panel header="{{geoMap.name}} {{geoMap.continent ? '('+geoMap.continent+')' : ''}}" [style]="{'text-align':'center'}">
                            <div class="geomap-detail" *ngFor="let hotspotFile of geoMap.hotspotFiles">
                                <a href="geomapdetail/{{geoMap.name}}/{{hotspotFile}}">{{hotspotFile}}</a>
                            </div>
                        </p-panel>

                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-geoMap pTemplate="gridItem">
        <div class="ui-g-12 ui-md-3">
            <p-panel header="{{geoMap.name}} {{geoMap.continent ? '('+geoMap.continent+')' : ''}}" [style]="{'text-align':'center'}">
                <img class="geomap-grid" src="assets/maps/{{geoMap.dir}}{{geoMap.imgComp}}"  >
                <div class="geomap-detail" *ngFor="let hotspotFile of geoMap.hotspotFiles">
                    <a href="geomapdetail/{{geoMap.name}}/{{hotspotFile}}">{{hotspotFile}}</a>
                </div>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>
