.filter-container {
    text-align: center;
}

.geomap-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-bottom: 1px solid #d9dad9;
}

.geomap-details > div {
    display: flex;
    align-items: center;
}

.geomap-details > div img {
    margin-right: 14px;
    width: 300px;
    height: auto;

}

.geomap-detail {
    padding: 0 1em 1em 1em;
    border-bottom: 1px solid #d9dad9;
    margin: 1em;
}

.geomap-grid {
    width: 100px;
    height: auto;
}

.ui-panel-content {
    padding: 1em;
}

.dark-theme :host ::ng-deep .geomap-details,
.dark-theme :host ::ng-deep .geomap-detail {
    border-bottom: 1px solid #191919;
}

@media (max-width: 1024px) {
    .geomap-details img {
        width: 200px;
        height: auto;

    }

    .filter-container {
        text-align: left;
    }
}
