<div class="content-section introduction">
    <div>
        <span class="feature-title">Grid CSS - Deprecated</span>
        <span>Grid CSS is a lightweight responsive and fluid layout utility optimized for mobile devices, tablets and desktops.</span>
        <span> Grid CSS is deprecated, use <a [routerLink]="['/flexgrid']">FlexGrid</a> instead.</span>
    </div>
</div>

<div class="content-section implementation GridDemo">
    <h3 class="first">Basic</h3>
    <div class="ui-g">
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-3">3</div>
        <div class="ui-g-3">3</div>
        <div class="ui-g-3">3</div>
        <div class="ui-g-3">3</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-4">4</div>
        <div class="ui-g-4">4</div>
        <div class="ui-g-4">4</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-6">6</div>
        <div class="ui-g-6">6</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">12</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-4">4</div>
        <div class="ui-g-8">8</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-3">3</div>
        <div class="ui-g-9">9</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-3">3</div>
        <div class="ui-g-5">5</div>
        <div class="ui-g-4">4</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-4">4</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-3">3</div>
        <div class="ui-g-1">1</div>
    </div>

    <h3>Responsive</h3>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-4">ui-g-12 ui-md-6 ui-lg-4</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">ui-g-12 ui-md-6 ui-lg-4</div>
        <div class="ui-g-12 ui-lg-4">ui-g-12 ui-lg-4</div>
    </div>

    <h3>Nested</h3>
    <div class="ui-g">
        <div class="ui-g-8 ui-g-nopad">
            <div class="ui-g-6">6</div>
            <div class="ui-g-6">6</div>
            <div class="ui-g-12">12</div>
        </div>
        <div class="ui-g-4">4</div>
    </div>

    <h3>Offset</h3>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-4">ui-g-12 ui-md-4</div>
        <div class="ui-g-12 ui-md-4 ui-md-offset-4">ui-g-12 ui-md-4 ui-md-offset-4</div>
    </div>

</div>
